* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1 {
    text-align: center;
    color: #5D46A0;
}

p {
    text-align: center;
}

.formulario {
    border: 2px solid #5D46A0;
    width: 350px;
    height: 500px;
    margin: 20px auto;
    /* borde al formulario con un radio de 20 */
    border-radius: 20px;
    padding: 60px;
    box-shadow: 0 0 10px #719ECE;
}

.formulario__input {
    width: 100%;
    padding: 5px 2px;
    outline: none;
    border-style: solid;
    border-color: #EFF0FA #EFF0FA #EFF0FA #5D46A0;
    margin: 5px 0px 20px;
    background-color: rgba(239, 240, 250, 0.986);
}

.div__chek {
    float: left;
    font-size: 12px;
}

.div__a {
    float: right;
    font-size: 12px;
}

.formulario__submit:active {
    background-color: #5D46A0;
    color: #f5f4f8;
}

.formulario__submit {
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    margin: 50px 12px;
    border: 2px solid #5D46A0;
    font-size: 15px;
    /*  curos manito */
    cursor: pointer;
    outline: none;
    text-align: center;
    box-shadow: 0 0 5px #719ECE;
}