.header {
    height: 60px;
    max-width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.header__nav {}

.header__nav p {
    display: none;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__item {
    margin-left: 3rem;
}

.header__link {
    text-decoration: none;
    color: var(--width);
}