* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 19px;
}

.header {
    height: 3.5rem;
    background-color: #555;
}

.main {
    display: flex;
    min-height: calc(100vh - 3.75rem);
    background-color: cyan;
    /* flex-wrap: wrap; */
}

.section-left {
    flex: 50%;
    height: 200px;
    background: burlywood;
}

.section-right {
    flex: 50%;
    height: 200px;
    background: cornflowerblue;
}


/*ancho tablet*/

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .section-left,
    .section-right {
        width: 100%;
    }
}