* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background: #eecbf6;
}

.formulario {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 24px;
    background: #eecbf6;
    box-shadow: 11px 11px 15px #bca0c2, -11px -11px 15px #fff6ff;
    /* box-shadow para dar sombra  */
    box-shadow: lightslategrey 0px 0px 5px;
    border-radius: 10px;
}

.formulario__input,
.formulario__mensaje {
    width: 100%;
}